* {
  font-family: 'PT Sans Narrow', sans-serif;
}

body {
  background-color: pink;
}

header {
  text-align: center;
  position:relative;
  background: lightblue;
  padding:50px;
  margin: -50px;
  font-size: 20px;
}

header::after {
  position:absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
  content:" ";
  background:
  radial-gradient(circle at 50% 0%, lightblue 25%, pink 26%, pink 40%);
  background-size:50px 100px;
  height:50px;
  background-repeat: repeat-x;
}

button {
  background-color: lightblue;
  border-color: white;
  border-radius: 50%;
  border-style: solid white 1px;
  height: 100px;
  width: 100px;
  margin: 20px;
  margin-top: 30px;
  font-size: 15px;
}

#submit {
  background-color: pink;
  border-color: pink;
  border-radius: 50%;
  border-style: none;
  height: 100px;
  width: 100px;
  margin: 20px;
}

.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #AEDEC7;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F59F9F;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

#weatherAPI {
  float: right;
  text-align: center;
  background-color: lightblue;
  border-radius: 20px;
  width: 250px;
  padding: 10px;
  margin: 90px 100px;
}

/* #Thermostat {
  float: left;
  margin: 50px 50px;
  padding: 50px;
} */

/* #thermostatDiv {
  float: left;
  text-align: center;
  background-color: lightgreen;
  border-radius: 20px;
  width: 250px;
  padding: 20px;
  margin: 50px 100px;
} */

#one, #two, #three {
  float: left;
  text-align: center;
  background-color: #AED1D3;
  border-radius: 20px;
  border: white solid 2px;
  height: 475px;
  width: 245px;
  margin: 90px 30px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px; */
}

#changeTemp {
  font-size: 40px;
}

#powerMode, #energy {
  font-size: 30px;
}
